<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4>About Ayewa</h4>
        <p> Ayewa literally translates to "space is available". Simply put, we work to provide a solution which
          brings to our student audience available spaces which can be shared or occupied singly.
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4>Recieve our newsletter</h4>
        <p>Stay up-to-date with latest availability listings.</p>
        <form role="form">
          <div class="form-group">
            <input class="form-control" id="newsletter" name="newsletter" placeholder="Please enter your E-mailaddress" type="text" value="">
          </div>
          <button class="btn btn-lg btn-black btn-block" type="submit">Submit</button>
        </form>
      </div>

      <div class="col-md-4 col-sm-4">
        <h4>Address</h4>
        <address>
          <strong>Ayewa</strong><br>
          314 Herbet Macaulay<br>
          Sabo, Yaba Lagos<br>
          <abbr title="Phone">P:</abbr>
          <a href="#">(+234) 703-457-8604</a><br>
          <abbr title="Email">E:</abbr>
          <a href="#">contactus@ayewa.com</a><br>
          <abbr title="Website">W:</abbr>
          <a href="#">www.ayewa.com</a><br>
        </address>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          &copy; 2014 Ayewa All Rights Reserved
        </div>
        <div class="col-xs-6 text-right">
          <ul>
            <li>
              <a href="contact-01.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
