<!-- Header -->
<header>
  <!-- Navigation -->
  <div class="navbar yamm navbar-default" id="sticky">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
        <!-- Logo -->
        <div id="log" class="pull-left"><h1>Ayewa</h1></div>
        </a> </div>
      <div id="navbar-collapse-grid" class="navbar-collapse collapse">

        <ul class="nav navbar-nav pull-left">
          <li class="dropdown active"> <a href="index.html">Home</a>
          </li>
          <li> <a href="gallery.html">Gallery</a></li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Contact<b class="caret"></b></a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li class="dropdown active"> <a href="index.html">Login</a></li>
          <li> <a href="gallery.html">Signup</a></li>
        </ul>

      </div>
    </div>
  </div>
</header>
